{% extends "base.html" %} 
{% block title %} Forecast Calculation Result {% endblock %}
{% block content %}
<nav class="sidebar"style="position:fixed;"> 
    <div class="logo" id="desktopLogo">
      <span>
        <img src="/static/icons/polygon.svg" class="polygon">
      </span>
      <h3>COVID-19 Forecast</h3>
    </div>
    <div class="sidebar-items">
      <ul>
        <li >
          <img src="/static/icons/circle.svg" class="icon"></img>
          <a href="{{ url_for('index') }}" class="nav-item" id="forecasts"  onclick='savesubcat()'>Forecasts</a>
        </li> 
        <li>
          <img src="/static/icons/square.svg"  class="icon" ></img>
          <a href="{{ url_for('overview_statistics') }}" class="nav-item" onclick='savesubcat()'><span class="overview">Overview Statistics</span></a>
          <a href="{{ url_for('overview_statistics') }}" class="nav-item"onclick='savesubcat()'><span class="overviewShort">Overview</span></a>
        </li> 
        <li class="active">
          <img src="/static/icons/triangle.svg" class="icon"></img>
          <a href="{{ url_for('calculate') }}" onclick='savesubcat()'><span class="calculate">Calculate Forecast</span></a>
          <a href="{{ url_for('calculate') }}" onclick='savesubcat()'><span class="calculateShort">Calculate</span></a>
        </li> 
      </ul>
    </div>   
  </nav>
<main id="forecast-calculation">
  <h4 style="font-size: 32px; font-weight: 400;">Forecast Calculation Result</h4>
  <p>
      Here are the results of the forecast calculation.
  </p>
  <div class="chart-bg">
      <canvas id="forecastCalculationResult"></canvas>
      <script>
        var forecastCalculationResult = document.getElementById('forecastCalculationResult').getContext('2d');
        var forecastCalculation = new Chart(forecastCalculationResult, {
        type: 'line',
        data: {
            labels: {{ labels | safe }},
            datasets: [{
                label: 'Cases',
                data: {{ values | safe }},
                backgroundColor: '#BDEBF2;',
                borderColor: '#001F23',
                borderWidth: 2,
                tension: 0.2

            }]
        },
        options: {
          plugins: {
              legend: {
                  display: false
              }
          }
      }
          
    });
      </script>
    </div>
</main>
{% endblock %}